<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>

<style>
    html {
   font-size: 100%;
   box-sizing: inherit;
   scroll-behavior: smooth;
   height: -webkit-fill-available;
}
body {
   font-family: "Poppins", sans-serif;
   font-size: clamp(1rem, 2vw, 1.125rem);
   font-weight: 400;
   line-height: 1.5;
   color: black;
   background-color: white;

}
</style>
<body>
        <div>
            <h2>Nuovo film</h2>
        </div>
        <div class="col-3">
            <form method="post" th:action="@{/films/nuovo}" th:object="${filmForm}">
            <div>
                    <label>Codice</label>
                    <br>
                    <input type="text" th:field="*{codice}">
            </div> 

            <div>
                    <label>Titolo</label>
                    <br>
                    <input type="text" th:field="*{titolo}">
            </div>

            <div>
                    <label>Anno</label>
                    <br>
                    <input type="text" th:field="*{anno}">
            </div>

            
            <div>
                <label for="genere">Genere</label> <br>
                <select name="genere" id="genere">
                  <option value="Horror">Horror</option>
                  <option value="Sci-fi">Sci-fi</option>
                  <option value="Fantasy">Fantasy</option>
                  <option value="Azione">Azione</option>
                </select>
            </div>


            <div>
                <label for="voto">Voto</label> <br>
                <select name="voto" id="voto">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
            </div>

            <br>
                <div>
                    <input class="btn btn-primary" type="submit" value="Aggiungi film"/>
                    <a class="btn btn-secondary" th:href="@{/}">Home</a>
                </div>

            </form>
        </div>
    </div>
    
</body>
</html>