<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <title>Dettagli utente</title>
</head>
<body>
    <div class="col-3">

        <div>
            <h3 th:text="'Il film selezionato è: ' + ${film.titolo}"></h3>

            <div>
                <b>Genere: </b><span th:text="${film.genere}"></span>
            </div>

            
            <div>
                <b>Anno: </b><span th:text="${film.anno}"></span>
            </div>
            
            <div>
                <b>Voto: </b><span th:text="${film.voto}"></span>
            </div>
            
            <div>
                <b>Codice: </b><span th:text="${film.codice}"></span>
            </div>
        </div>

        <br>
        <div>
            <a class="btn btn-primary" th:href="@{/films/svuota/{titolo}}">Elimina film</a>
            <a class="btn btn-primary" th:href="@{/catalogo}">Torna al catalogo</a>
        </div>
    </div>
</body>
</html>